@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');

.busiPic {
  height: 223px;
  display: inline-block;
  overflow: hidden;
 
}

.busiPic img{
  display: auto;
  width: 140%;
  position: relative; top: -0; left: -0;
}
.tradition {
    padding: 20px 20px;
    width: 100%;
    text-align: center;
  
      .BusiName {
        font-family: 'Poppins', sans-serif;
        font-size: 42px;
        font-weight: 600;
        line-height: 1.1;
        color:#54565a;
      }
  
     .datainfo {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 2.15;
        color: #54565a;
        margin-top: 60px;
      }
      .busiPic img{
        display: auto;
        width: 140%;
        position: relative; top: -0; left: -0;
      }
      @media screen{
        @media (min-width: 768px) {
          display: grid;
          grid-template-columns: 2fr 1fr;
          grid-gap: 30px;
          text-align: left;


          .BusiName .datainfo{
          font-size: 42px;
          line-height: 26px;
          }

          .datainfo {
          float: right;
          font-size: 22px;
          line-height: 26px;
    
          }
        }
        
        @media (min-width: 1024px) {
          }

        }

}
  