.footerRasil{
  position: relative;
  height: auto;
  width: 100%;
  background-color: #354b84;
  padding: 20px 25px 0 25px;
  
  .footerAddress{
    position: relative;
    display: inline-flexbox;
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
    font-size: 13px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    margin-bottom: 15px;
    
  }

  .footerNavList{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    list-style: none;  
    font-weight:400;
    opacity: 0.7;

    button{
      color: #ffffff;
    }
  }
  
  .iconesRedesSociais{
    text-align: center;
    display:flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    float: unset;
    
    .faceLogo{
      height: 20px;
      padding-right: 20px;
    }
    .instaLogo{
      height: 20px;
    }
  }  
  @media screen{
    @media (min-width: 1024px) {
      padding: 25px 30px;
      width: 100%;
      display: grid;
      grid-template-columns: 55% 1fr;
      position: relative;

      .footerAddress{
        text-align: left;
        margin-bottom: 0;
        font-size: 12px;

      }
      .footerNavList{
        button{
        font-size: 13px;
        text-align: right;
        color: #ffffff;
        }

      }
      
      .iconesRedesSociais{
        display:inline-flexbox;
        padding-top: 10px;
        padding-bottom: 0;
        float: right;

        
        .faceLogo{
          padding-right: 30px;

        }

      }  
    }
  }
}