
.rasil {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1.9px;
    color: #ffffff;
}
  
.borrachas {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    letter-spacing: -1px;
    color: #ffffff;
}
  