.headerRasil{
  border: transparent;
  width: 100%;
  display: inline-block;
  margin: auto;
  position: absolute;
  padding: 20px 20px;

  

  .logoButton{
    border: transparent;
    background-color: transparent;
    padding: unset;
    text-transform: none;
    
    .h1LogoRasil{

      font-family: 'Open Sans';
      font-weight: 500;
      font-size: 21px;
      letter-spacing: -1px;
      color: #ffffff;


      strongLogoRasil{
        font-family: 'Montserrat';
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
  .headerNav{
    display: none;
  }
  .hamburgerBox{
    float: right;
    border: none;
    background-color: white;

  }
}