
.qualityCard{
    max-width: 100%;
    text-align: center; 
    
    
    .qualityCardImg img{
        width: 100%; 
    }
    
    .qualityCardImg{
        overflow: hidden;
        width: auto;
        max-height: 400px;
        margin-bottom: 30px;

    }

    .qualityCardInfo{
        padding: 0 20px;
        text-align: left;
        
        .qualityTitle{
            position: relative;
            display: inline-flex;
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
            font-weight: 700;
            color: #354b84;
            
            
        }
        .qualityNumber{
            position: absolute;
            text-align: center;
            bottom: 70px;
            display: inline-block;
            width: 55px;
            height: 55px;
            padding: 17px;
            background-color: #354b84;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 15px;
            color: #ffffff;
        }
        .qualityText {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: black;
            font-weight: 600px;
        }

    }

    
    .qualityLineDiv{
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 2.5px;
        background-color: #354b84;
        margin: 30px auto 30px; 
    }

}