.twopics {
    height: 223px;
}

.solda {
    width: 152px;
    overflow: hidden;
    display: inline-flex;
    margin: 0;
}

.solda img{
    display: inline-block;
    width: 400%;
    margin: -50px 0 -170px 0;
    position: relative; top: 50; left: -300px;
}
  
.roloPic {
    width: 152px;
    overflow: hidden;
    display: inline-flex;
    margin-left: 13px;


}

.roloPic img{
    display: inline-block;
    width: 400%;
    margin: -50px 0 -170px 0;
    position: relative; top: -128px; left: -30px;

}